<div class="row header">
  <div class="col-sm">
    <h4>Products</h4>
  </div>
</div>

<div class="row">
  <div class="col-sm list-action-button">
    <a href="#" class="btn btn-link float-right links-primary fa fa-filter fa-lg action-label">Filter</a>
    <a href="#" routerLink="add" class="btn btn-link float-right fa fa-file fa-lg action-label">Add New</a>
  </div>
</div>

<div class="row content">
  <div class="col-sm-12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Code</th>
          <th scope="col">Category</th>
          <th scope="col">Unit</th>
          <th scope="col">Purchase Rate</th>
          <th scope="col">Sales Rate</th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products | async; index as i">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ product.name }}</td>
          <td>{{ product.code }}</td>
          <td>{{ product.category.name }}</td>
          <td>{{ product.unit.name }}</td>
          <td>{{ product.purchaseRate }}</td>
          <td>{{ product.salesRate }}</td>
          <td><button class='fa fa-eye' (click)='viewProduct(product)' ></button></td>
          <td><button class='delete-label fa fa-trash-o' (click)='deleteProduct(product)' ></button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>